.pageBox {
  display: ruby-text;
  padding-top: 30px;
  background: linear-gradient(to right, rgba(4, 2, 84, 0.68), rgba(0, 111, 255, 0.65));
  height: 200px;
}

.text {
  color: aliceblue;
  font-weight: 800;
  font-size: 30px;
}